<div class="cover-user-show">
  <div class="row message-container">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <div class="message <%= m.user.id == @my_account ? 'my-message' : 'other-message' %>">
          <strong><%= m.user.name %></strong><br>
          <%= m.message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="row">
    <%= form_for @message do |f| %>
      <%= f.text_field :message, placeholder: "メッセージを入力して下さい", class: "form-text-field" %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "送信", class: "btn-success" %>
    <% end %>
  </div>
</div>
